# Ports
HTTP_PORT=3100
HTTPS_PORT=3101
MCP_PORT=8100
SELKIES_MANUAL_WIDTH=1920
SELKIES_MANUAL_HEIGHT=1916

# User/Group
PUID=1000
PGID=100

# Selkies Web UI
# CUSTOM_USER=
# PASSWORD=

# App auto-start
AUTO_START_WECHAT=true

# Bot
BOT_ENABLED=true

# Shared Memory (2gb recommended for AI + browser)
SHM_SIZE=2gb
